{% include "netris-header.html" %}

{%- extends "!layout.html" %}

{% block sidebartitle %}

{# {% if theme_display_version %}
  {%- set nav_version = version %}
  {% if READTHEDOCS and current_version %}
    {%- set nav_version = current_version %}
  {% endif %}
  {% if nav_version %}
    <div class="version">
      {{ nav_version }}
    </div>
  {% endif %}
{% endif %} #}

{% include "searchbox.html" %}

{% endblock %}

{%- block extrahead %} 
<script type="text/javascript">
   $(document).ready(function () {
    $('a[href^="http://"], a[href^="https://"]').not('a[class*=internal]').attr('target', '_blank');
  });
</script>
{% endblock %}
