pre.literal-block {
    white-space: pre;
    margin: 0 !important;
    padding: 12px 12px !important;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
        "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
        monospace;
    font-size: 12px;
    display: block;
    overflow: auto;
    color: #404040;
}

.wy-nav-side {
    background: #ffffff;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #01358d;
}

.wy-side-nav-search input[type="text"] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #f9556d;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background: #ffffff;
}

.wy-menu-vertical a {
    color: #666666;
    position: relative;
}

.wy-menu-vertical a:hover,
.wy-menu-vertical li.current,
.wy-menu-vertical li.current > a {
    background-color: #ffffff !important;
}

.wy-menu-vertical li.current > a {
    color: #000000 !important;
}

.btn-neutral {
    color: #fff !important;
    background-color: #f9556d !important;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0 13px 13px 0 rgba(249, 85, 109, 0.2);
    transition: all 0.2s ease-in;
    padding: 9px 34px;
    font-size: 14px;
}

.btn-neutral:hover,
.btn-neutral:focus {
    background-color: #ef4060 !important;
    border-color: #ef4060 !important;
    box-shadow: 0 13px 13px 0 rgba(249, 85, 109, 0.4);
    padding: 9px 34px;
}

.btn-neutral:visited {
    color: #fff !important;
}

.wy-breadcrumbs li:first-child a,
.wy-breadcrumbs li:last-child a,
.rst-other-versions > a,
footer > a {
    font-family: Montseratt;
    color: #01358d !important;
    position: relative;
}

.wy-menu-vertical a::before,
.wy-breadcrumbs li:first-child a::before,
.wy-breadcrumbs li:last-child a::before,
.rst-other-versions > a::before,
footer > a::before {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
}

.wy-menu-vertical a:hover::before,
.wy-breadcrumbs li:first-child a:hover::before,
.wy-breadcrumbs li:last-child a:hover::before,
.rst-other-versions > a:hover::before,
footer > a:hover::before {
    width: 100%;
    border-top-color: #f9556d;
    border-right-color: #f9556d;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.note,
.note .last {
    background-color: #ffe3e7 !important;
}

.note .first {
    background-color: #f9556d !important;
}

.highlight {
    background-color: #f3f3f3 !important;
    border-color: #b7b7b7 !important;
}

.rst-current-version {
    color: #f9556d !important;
}

.rst-versions,
.rst-current-version {
    background-color: #f3f3f3 !important;
    border-color: #b7b7b7;
}

.rst-current-version .fa-book,
.rst-other-versions {
    color: #b7b7b7 !important;
}

.rst-other-versions dl a {
    color: #f9556d !important;
}

.rst-other-versions hr {
    border-color: #f9556d !important;
}

.wy-menu-vertical li.current a {
    border: none !important;
}